h1, 
h2 {
  font-weight: 100;
}

.text-white {
  color: white;
}

.btn-white {
  border: 0;
  background: none;
  display: block;
  margin: 50px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;

  &:hover {
    background: #2ecc71;
  }
}

.top-jumbotron-wrapper {
  width: 100vw;
  height: 100vh;
  // background: image-url('sky.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #191919;
}

.top-jumbotron-container {
  padding-top: 220px;
  h1 {
    font-size: 56px;
    margin-bottom: 20px;
  }

  h2 {
    margin-bottom: 60px;
  }
}
// サインイン
.form-control {
  height: 45px;
  background: #191919;
  text-align: center;
  border: 0;
  background: none;
  display: block;
  margin: 28px auto;
  text-align: center;
  border: 2px solid #3498db;
  width: 250px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  
  &:focus{
    width: 350px;
    border-color: #2ecc71;
  }

  &::placeholder{
    color: darkgray;
  }
}

.users-new-wrapper {
  width: 100vw;
  height: 100vh;
  // background-image: image-url('sky.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #191919;

  .users-new-container {
    padding-top: 220px;

    .form-group {
      margin-bottom: 20px;
    }
  }
}

.alert {
  margin-bottom: 0px;
  position: fixed;
  width: 100%;
  z-index: 10000;
}

.navbar-brand{
  background: url("icons/emblemmatic-p-b-logo-148.png") no-repeat left center;
  background-size: contain;
  height: 50px;
}

.form-control{
  margin: 22px auto !important;
}

.col-md-offset-4.col-md-4{
  margin: 100px 0px 0px 0px;
}

// .nav-link{
//   padding-right: 10px; 
//   padding-left: 10px; 
// }
// button{
//   width: 40px;
//   height: 40px;
//   padding: 0px;
// }
// footer {
//   text-align: center;
//   color: #fff;
//   min-height: 10px !important;
  
// }

