button,
input,
optgroup,
select,
textarea {
  font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

small {
  font-size: 60%;
}

a {
  color: #f96332;
}

a:hover,
a:focus {
  color: #f96332;
}

h1,
.h1 {
  font-size: 3.5em;
  line-height: 1.15;
  margin-bottom: 30px;
}

h1 small,
.h1 small {
  font-weight: 700;
  text-transform: uppercase;
  opacity: .8;
}

h2,
.h2 {
  font-size: 2.5em;
  margin-bottom: 30px;
}

h3,
.h3 {
  font-size: 1.825em;
  margin-bottom: 30px;
  line-height: 1.4em;
}

h4,
.h4 {
  font-size: 1.5em;
  line-height: 1.45em;
  margin-top: 30px;
  margin-bottom: 15px;
}

h4+.category,
h4.title+.category,
.h4+.category,
.h4.title+.category {
  margin-top: -5px;
}

h5,
.h5 {
  font-size: 1.3em;
  line-height: 1.4em;
  margin-bottom: 15px;
}

h5.category,
.h5.category {
  font-weight: 400;
}

h6,
.h6 {
  font-size: 0.9em;
  font-weight: 700;
  text-transform: uppercase;
}

p {
  line-height: 1.61em;
  font-weight: 300;
  font-size: 1.2em;
}



body {
  color: #2c2c2c;
  font-size: 14px;
  font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
  overflow-x: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color:#e6c5a5;
}

@font-face {
  font-family: 'Nucleo Outline';
  src: url("../fonts/nucleo-outline.eot");
  src: url("../fonts/nucleo-outline.eot") format("embedded-opentype"), url("../fonts/nucleo-outline.woff2") format("woff2"), url("../fonts/nucleo-outline.woff") format("woff"), url("../fonts/nucleo-outline.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

h1, 
h2 {
  font-weight: 100;
}

body{

}

.text-white {
  color: white;
}

h1.text-white{
  color: #eeeaec !important;
}

// .btn-white {
//   border: 0;
//   background: none;
//   display: block;
//   margin: 50px auto;
//   text-align: center;
//   border: 2px solid #2ecc71;
//   padding: 14px 40px;
//   outline: none;
//   color: #eeeaec;
//   border-radius: 24px;
//   transition: 0.25s;

//   &:hover {
//     background: #2ecc71;
//   }
// }

.btn-size{
  padding: 11px 136px !important;
}

.top-jumbotron-wrapper {
  width: 100vw;
  height: 100vh;
  // background: image-url('book.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  // background-color: #191919;
}


.top-jumbotron-container {
  padding-top: 220px;
  h1 {
    font-size: 56px;
    margin-bottom: 20px;
  }

  h2 {
    margin-bottom: 60px;
  }
}
// サインイン
// .form-control {
//   height: 45px;
//   background: #191919;
//   text-align: center;
//   border: 0;
//   background: none;
//   display: block;
//   margin: 28px auto;
//   text-align: center;
//   border: 2px solid #3498db;
//   width: 250px;
//   outline: none;
//   color: white;
//   border-radius: 24px;
//   transition: 0.25s;
  
//   &:focus{
//     width: 350px;
//     border-color: #2ecc71;
//     background: none;
//     outline: none;
//     color: white;
    
//   }

//   &::placeholder{
//     color: #eeeaec;
//   }
// }

.users-new-wrapper {
  width: 100vw;
  height: 100vh;
  // background: image-url('book.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color:#e6c5a5;

    .form-group {
      margin-bottom: 20px;
    }
}

.alert {
  margin-bottom: 0px;
  position: fixed;
  width: 100%;
  z-index: 10000;
}

.navbar-brand{
  background: url("icons/emblemmatic-p-b-logo-148.png") no-repeat left center;
  background-size: contain;
  height: 50px;
}

.col-md-offset-4.col-md-4{
  margin: 100px 0px 0px 0px;
}

.navbar{
  border-bottom:1px solid #000;
}

a.nav-link{
  color: #eeeaec !important;
}

.bg-light{
  background-color:#e6c5a5 !important;
}

// .nav-link{
//   padding-right: 10px; 
//   padding-left: 10px; 
// }
// button{
//   width: 40px;
//   height: 40px;
//   padding: 0px;
// }
// footer {
//   text-align: center;
//   color: #fff;
//   min-height: 10px !important;
  
// }
div.col-offset-12.col-md-12{
  padding-top: 110px; 
}
// div .form-group {
//   margin: 200px 0px 0px 0px; 
// }
// #new_bookmark{
//   margin-left: 20px !important;
// }


.form{
  background: #191919;
  border: 0;
  background: none;
  margin: 10px auto;
  text-align: left;
  display: block;
  border: 2px solid #888888;
  width: 300px;
  outline: none;
  color: white;
  border-radius: 7px;

}

.title-form {
  height: 60px;
  margin: 10px;
  // margin-right: auto;
  // width: 400px;
}

.description-form {
  height: 215px;
  margin: 10px;
  // margin-right: auto;
  // width: 400px;
}

input.btn-white.form-btn{
  margin: 10px 420px 10px 10px !important;
  margin-right: auto !important;
}


.bookmark-index-wrapper {
  padding-top: 100px;
  // background-color:#191919;
  
  // columns: 2;
  // column-count: 2;
  .bookmark-index-single {
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    // margin-top: 30px;
    border: 1px solid #e6ecf0;
    border-radius: 3px;
    
    .bookmark-author {
      padding-right: 20px;
      padding-left: 20px;

    }
  }
}

.bookmark-text {
  padding-right: 20px;
  padding-left: 20px;
}

// iframe {
//     width: 80%;
//     height: 500px;
// }

// #link {
//   margin-top: 10px;
//   margin-left: 18px;
//   border: none;
//   position: fixed;
  
// }

button.fas{
  border: none;
  outline: none; 
}

.icons{
  // margin-left: 200px !important;
  margin: 0px 7px;
  -webkit-filter: invert(40%) grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(400%) contrast(2);
  filter: grayscale(0%) brightness(0%) sepia(0%) hue-rotate(-50deg) saturate(600%) contrast(0.8);
}

.edit{
  margin-left:  90% !important;
margin-bottom: 10px !important;
}

.delete{
  margin-left: 90% !important;
}

.btn,
.navbar .navbar-nav>a.btn {
  border-width: 2px;
  font-weight: 400;
  font-size: 0.8571em;
  line-height: 1.35em;
  margin: 10px 1px;
  border: none;
  border-radius: 0.1875rem;
  padding: 11px 22px;
  cursor: pointer;
  background-color: #888888;
  color: #FFFFFF;
}

.btn:hover,
.btn:focus{
  background-color: #979797;
  color: #FFFFFF;
  box-shadow: none;
}

.btn:hover,
.navbar .navbar-nav>a.btn:hover {
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.17);
}

.btn-primary {
  background-color: #f96332;
  color: #FFFFFF;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #fa7a50;
  color: #FFFFFF;
  box-shadow: none;
}

.btn-primary:hover {
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.17);
}


.btn-danger {
  background-color: #FF3636;
  color: #FFFFFF;
}

.btn-danger:hover,
.btn-danger:focus {
  background-color: #ff5555;
  color: #FFFFFF;
  box-shadow: none;
}

.btn-danger:hover {
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.17);
}

.form-control::-webkit-input-placeholder {
  color: #888888;
  opacity: 0.8;
  filter: alpha(opacity=80);
}


.form-control {
  background-color: transparent;
  border: 1px solid #E3E3E3;
  border-radius: 30px;
  color: #2c2c2c;
  height: auto;
  line-height: normal;
  font-size: 0.8571em;
  -webkit-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  -ms-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.has-success .form-control {
  border-color: #E3E3E3;
}

.form-control:focus {
  border: 1px solid #f96332;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0 !important;
  color: #2c2c2c;
}

.form-group .form-control,
.input-group .form-control {
  padding: 10px 18px 10px 18px;
}

// .navbar {
//   padding-top: 0.625rem;
//   padding-bottom: 0.625rem;
//   min-height: 53px;
//   margin-bottom: 20px;
//   box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
// }

.navbar .navbar-nav .nav-link:not(.btn) {
  text-transform: uppercase;
  font-size: 0.7142em;
  padding: 0.5rem 0.7rem;
  line-height: 1.625rem;
}

.navbar .navbar-nav .nav-item.active .nav-link:not(.btn),
.navbar .navbar-nav .nav-item .nav-link:not(.btn):focus,
.navbar .navbar-nav .nav-item .nav-link:not(.btn):hover,
.navbar .navbar-nav .nav-item .nav-link:not(.btn):active {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 0.1875rem;
}

.navbar .navbar-brand {
  text-transform: uppercase;
  font-size: 0.8571em;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  line-height: 1.625rem;
}

.navbar .navbar-toggler {
  outline: 0;
  cursor: pointer;
}


.alert {
  border: 0;
  border-radius: 0;
  color: #FFFFFF;
  padding-top: .9rem;
  padding-bottom: .9rem;
}

.alert .alert-link {
  color: #FFFFFF;
  opacity: .8;
}

.alert.alert-success {
  background-color: rgba(24, 206, 15, 0.8);
}

.alert.alert-danger {
  background-color: rgba(255, 54, 54, 0.8);
}

.alert.alert-warning {
  background-color: rgba(255, 178, 54, 0.8);
}

.alert.alert-info {
  background-color: rgba(44, 168, 255, 0.8);
}

.alert.alert-primary {
  background-color: rgba(249, 99, 50, 0.8);
}

.centering{
  padding-left: 440px;
}
.iframe-wrap {
  position: relative;
  width: 100%;
  padding-top: 80%;
  overflow:auto; 
  -webkit-overflow-scrolling:touch;
}
.iframe-wrap iframe {
    position:absolute;
    top:0;
    left:0;
    width: 80%;
    height: 500px;
    border:none;
    display:block;
}

@media screen and (max-width: 500px) {
  .iframe-wrap iframe {    
    position:absolute;
    top:0;
    left:0;
    width: 80%;
    height: 500px;
    border:none;
    display:block;
  }
  .mt-50{
    margin-top: 40vh;
  }
  .z-1000{
    z-index: 1000;
  }
  .centering{
  padding-left: 75px;
}
}