h1, 
h2 {
  font-weight: 100;
}

body{
  font-family: 'Montserrat';
  background-color:#191919;
}

.text-white {
  color: white;
}

h1.text-white{
  color: #eeeaec !important;
}

.btn-white {
  border: 0;
  background: none;
  display: block;
  margin: 50px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;

  &:hover {
    background: #2ecc71;
  }
}

.top-jumbotron-wrapper {
  width: 100vw;
  height: 100vh;
  background: image-url('book.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  // background-color: #191919;
}


.top-jumbotron-container {
  padding-top: 220px;
  h1 {
    font-size: 56px;
    margin-bottom: 20px;
  }

  h2 {
    margin-bottom: 60px;
  }
}
// サインイン
.form-control {
  height: 45px;
  background: #191919;
  text-align: center;
  border: 0;
  background: none;
  display: block;
  margin: 28px auto;
  text-align: center;
  border: 2px solid #3498db;
  width: 250px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  
  &:focus{
    width: 350px;
    border-color: #2ecc71;
    background: none;
    color: white;
    
  }

  &::placeholder{
    color: darkgray;
  }
}

.users-new-wrapper {
  width: 100vw;
  height: 100vh;
  background: image-url('book.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #191919;

    .form-group {
      margin-bottom: 20px;
    }
}

.alert {
  margin-bottom: 0px;
  position: fixed;
  width: 100%;
  z-index: 10000;
}

.navbar-brand{
  background: url("icons/emblemmatic-p-b-logo-148.png") no-repeat left center;
  background-size: contain;
  height: 50px;
}

@media screen and (max-width: 991px) {
  .site-navbar-light {
    background: #bd6856 !important;
    top: 0;
    position: relative;
  }
}

.form-control{
  margin: 22px auto !important;
}

.col-md-offset-4.col-md-4{
  margin: 100px 0px 0px 0px;
}

a.nav-link{
  color: #eeeaec !important;
}
// .nav-link{
//   padding-right: 10px; 
//   padding-left: 10px; 
// }
// button{
//   width: 40px;
//   height: 40px;
//   padding: 0px;
// }
// footer {
//   text-align: center;
//   color: #fff;
//   min-height: 10px !important;
  
// }
div.col-offset-12.col-md-12{
  padding-top: 110px; 
}
// div .form-group {
//   margin: 200px 0px 0px 0px; 
// }
// #new_bookmark{
//   margin-left: 20px !important;
// }


.form{
  background: #191919;
  border: 0;
  background: none;
  margin: 10px auto;
  text-align: left;
  display: block;
  border: 2px solid #3498db;
  width: 300px;
  outline: none;
  color: white;
  border-radius: 10px;

}

.title-form {
  height: 60px;
  margin: 10px;
  // margin-right: auto;
  // width: 400px;
}

.description-form {
  height: 215px;
  margin: 10px;
  // margin-right: auto;
  // width: 400px;
}

input.btn-white.form-btn{
  margin: 10px 420px 10px 10px !important;
  margin-right: auto !important;
}


.bookmark-index-wrapper {
  padding-top: 100px;
  // background-color:#191919;
  
  // columns: 2;
  // column-count: 2;
  .bookmark-index-single {
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    // margin-top: 30px;
    border: 1px solid #e6ecf0;
    border-radius: 3px;
    
    .bookmark-author {
      padding-right: 20px;
      padding-left: 20px;

    }
  }
}

.bookmark-text {
  padding-right: 20px;
  padding-left: 20px;
}

iframe {
    width: 40%;
    height: 500px;
}

#link {
  margin-top: 10px;
  margin-left: 18px;
  border: none;
  position: fixed;
  
}

button.far.fa-eye{
  border: none;
  outline: none
}